.albumImg{
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    height: 60px;
    width: 60px;
  }
}
.cdPlayer img{
  height: 60px;
  width: 60px;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.cd{
  animation: rounded 5s infinite linear;
}

@keyframes rounded{
  0%{
  transform:rotate(0deg);
  }
  100%{
  transform: rotate(-360deg);
  }
}

.playlists{
  background: linear-gradient(360deg, #50455F 14.31%, #01393F 100%);
  .songList{
    color: $white;
    &:hover{
      background-color: rgba($white,0.3);
      color: $white;
    }
  }
}

.searchResult{
  background: linear-gradient(360deg, #50455F 14.31%, #01393F 100%);
  .searchResultItem{
    border-radius: 8px;
    background-color: rgba($white,0.3);
    color: $white;
    &:hover{
      background-color: $light;
      color: $dark;
    }
  }
}

.music-bar{
  cursor: pointer;
  height: 5px;
  width: 100%;
  .length{
    border-radius:10px;
    width: 90%;
    background: white;
    height: 100%;
    transition: width linear 200ms;
    position:relative;
    overflow: hidden;
  }
  .currentTimeBar{
    width: 0;
    height: 100%;
    background: $primary;
  }
}

.volume {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 10px;
  background: linear-gradient($primary, $primary) no-repeat;
  background-color: $greyLight;
  background-size: 50%;
  &::-webkit-slider-runnable-track {
    height: 5px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -5px;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.musicPlaying {
  color: $dark !important;
  background: $light !important;
}

.dragOver {
  background: rgb(221, 95, 95);
}

::placeholder {
  color: $white !important;
  opacity:0.5 !important;
}

.marquee{
  width: 100%;
  height:24px;
  white-space: nowrap;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    width: 220px;
  }
  .songTitle{
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
}

@keyframes marquee {
  0%   { 
    transform: translate(0); 
  }
  100% { 
    transform: translate(-100%); 
  }
}

.pointEvents {
  pointer-events: none;
}

.cursor-pointer{
  cursor: pointer;
}

.flex-grow-1{
  flex-grow:1;
}

.fs-small{
  font-size:12px;
}

.object-fit-cover{
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

iframe{
  width: 0px;
  height: 0px;
}
